* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  --webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #fe5f1e;
}

nav li:last-child a {
  transition: all 0.3s ease-in-out;
}

nav li:last-child a:hover {
  background: #b23301;
}

nav li a:hover {
  color: #fe5f1e;
}

section.hero {
  background-color: #f8f8f8;
}

.size {
  background-color: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
  transition: all 0.3s ease-in-out;
}

.add-to-cart:hover {
  background-color: #fe5f1e;
  color: #fff;
  border-color: #fff;
}

.order-button {
  background: #fe5f1e;
  transition: all 0.3s ease-in-out;
}

.order-button:hover {
  background: #b23301;
}

section.cart {
  background: #f8f8f8;
}

section.cart .total-amount {
  color: #fe5f1e;
}

