@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	--webkit-font-smoothing: antialiased;
	color: $dark;
}

nav li:last-child a {
	background: $primary;
}

nav li:last-child a {
	transition: $smooth;
	&:hover {
		background: $primary-hover;
	}
}

nav li a {
	&:hover {
		color: $primary;
	}
}

section.hero {
	background-color: $secondary;
}

.size {
	background-color: $secondary;
}

.add-to-cart {
	border: 2px solid $primary;
	color: $primary;
	transition: $smooth;

	&:hover {
		background-color: $primary;
		color: $pure;
		border-color: $pure;
	}

	&:focus {
		outline: none;
	}
}

.order-button {
	background: $primary;
	transition: $smooth;
	&:hover {
		background: $primary-hover;
	}
	&:focus {
		outline: none;
	}
}

section.cart {
	background: $secondary;
	.total-amount {
		color: $primary;
	}
}

.login-page > div > div {
	min-height: calc(89.5vh - 86px);
}

.noty_theme__mint {
	border-radius: 8px !important;
	padding-left: 8px !important;
}
